<div class="devise-container">
  <div class="devise-login-heading sign-up">
    <h2 class="text-center">Sign up</h2>
    <hr>
  </div>


  <% resource_class.omniauth_providers.each do |provider| %>
    <div class="facebook-button text-center">
      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <i class="fa fa-facebook"></i><%= "Sign in with #{OmniAuth::Utils.camelize(provider)}" %>
      <% end %>
    </div>
    <br />
  <% end %>

 <div class="recipe-category-title-start"><p class="option">  or  </p></div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="devise-form-inputs">
      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>

    <div class="form-actions text-center">
     <%= f.button :submit, "Sign up", class: "btn btn-log-in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<%= render "devise/shared/links" %>
