<div class="modal modal-recipe fade" tabindex="-1" role="dialog" id="recipe-<%= recipe.id %>">
  <div class="modal-dialog" role="document">
    <div class="container container-recipe-show">
      <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="row">
        <div class= "recipe-info-show-1">
          <div class="col-xs-6 recipe-show-name">
            <h3> <%= recipe.name.upcase %> - <%=recipe.price%>€ </h3>
          </div>
          <div class="col-xs-6 recipe-info-details">
            <% unless local_assigns[:mode] == "ordered" %>
              <div>
                <% if current_order %>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= hidden_field_tag :referral, 'recipe_show' %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: recipe.id } %>
                    <span class="quantity-text-in-show" id='modal-add-button-<%= recipe.id %>'>
                      <%= order_item_quantity_label(@order, recipe, "recipe_show") %>
                    </span>
                    <%= f.submit "Add to cart", class: "recipe-add-to-cart-button" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="recipe-info-show-2">
          <div class="col-xs-6">
            <div class="recipe-image" style="background: url('<%= asset_path recipe.photo %>');"></div>
          </div>
          <div class="col-xs-6 recipe-show-tab-container">
            <div class="recipe-show-tabs-section">
              <div class="recipe-show-tab-list">
                <div class= "recipe-show-tab details active" data-target="details_<%= recipe.id %>">DETAILS</div>
                <div class= "recipe-show-tab ingredients" data-target= "ingredients_<%= recipe.id %>">INGREDIENTS</div>
                <div class= "recipe-show-tab prep" data-target= "prep_<%= recipe.id %>">PREPARATION</div>
              </div>
              <div class = "recipe-show-tab-content details-content row" id="details_<%= recipe.id %>" >
                <div class="col-xs-6">
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> : <%= recipe.prep_time %> mins</p>
                  <p><i class="fa fa-balance-scale" aria-hidden="true"></i> : <%= recipe.calories %> Kcal</p>
                </div>
                <div class="col-xs-6">
                  <% if recipe.vegetarian == true %>
                    <p>Vegetarian <i class="fa fa-check" aria-hidden="true"></i></p>
                  <% end %>
                  <% if recipe.vegan == true %>
                    <p>Vegan <i class="fa fa-check" aria-hidden="true"></i></p>
                  <% end %>
                  <% if recipe.gluten_free == true %>
                    <p>Gluten free <i class="fa fa-check" aria-hidden="true"></i></p>
                  <% end %>
                  <% if recipe.egg_free == true %>
                    <p>Egg free <i class="fa fa-check" aria-hidden="true"></i></p>
                  <% end %>
                  <% if recipe.dairy_free == true %>
                    <p>Dairy free <i class="fa fa-check" aria-hidden="true"></i></p>
                  <% end %>
                </div>
              </div>
              <div class="recipe-show-tab-content hidden" id="ingredients_<%= recipe.id %>">
                <h4><strong>In Your Dinja Box</strong></h4>
                <% recipe.doses.each do |dose| %>
                  <p><%= dose.measure %> <%= dose.ingredient.name %></p>
                <% end %>
              </div>
              <div class="recipe-show-tab-content hidden" id="prep_<%= recipe.id %>" >
                <h4><strong>Let's get cooking</strong></h4>
                <p><%= recipe.instructions %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
