
<div class="container container-recipe-show">
  <div class="row">
      <div class= "recipe-info-show-1">
        <div class="col-xs-6 recipe-show-name">
          <h3> <%= @recipe.name.upcase %> - <%=@recipe.price%>€ </h3>
        </div>
        <div class="col-xs-6 recipe-info-details">
          <div>
            <%= simple_form_for OrderItem.new, remote: true do |f| %>
            <%= f.association :recipe, as: :hidden, input_html: { value: @recipe.id } %>
            <%= f.submit "Add to cart", class: "recipe-add-to-cart-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



  <div class="row">
    <div class="recipe-info-show-2">
      <div class="col-xs-6">
        <div class="recipe-image" style="background: url('<%= asset_path @recipe.photo %>');"></div>
      </div>
      <div class="col-xs-6 recipe-show-tab-container">
        <div class="recipe-show-tabs-section">
          <div class="recipe-show-tab-list">
            <div class= "recipe-show-tab details active" data-target= "details">DETAILS</div>
            <div class= "recipe-show-tab ingredients" data-target= "ingredients">INGREDIENTS</div>
            <div class= "recipe-show-tab prep" data-target= "prep">PREPARATION</div>
          </div>
          <div class = "recipe-show-tab-content row" id="details" >
            <div class="col-xs-6">
              <p><i class="fa fa-clock-o" aria-hidden="true"></i> : <%= @recipe.prep_time %> mins</p>
              <p><i class="fa fa-cutlery" aria-hidden="true"></i> : <%= @recipe.cooking_time %> mins</p>
              <p><i class="fa fa-balance-scale" aria-hidden="true"></i> : <%= @recipe.calories %> Kcal</p>
            </div>
            <div class="col-xs-6">
              <% if @recipe.vegetarian == true %>
                <p>Vegetarian <i class="fa fa-check" aria-hidden="true"></i></p>
              <% end %>
              <% if @recipe.vegan == true %>
                <p>Vegan <i class="fa fa-check" aria-hidden="true"></i></p>
              <% end %>
              <% if @recipe.gluten_free == true %>
                <p>Gluten free <i class="fa fa-check" aria-hidden="true"></i></p>
              <% end %>
              <% if @recipe.egg_free == true %>
                <p>Egg free <i class="fa fa-check" aria-hidden="true"></i></p>
              <% end %>
              <% if @recipe.dairy_free == true %>
                <p>Dairy free <i class="fa fa-check" aria-hidden="true"></i></p>
              <% end %>
            </div>
          </div>
          <div class = "recipe-show-tab-content hidden" id= "ingredients">
            <h4><i class="fa fa-envira" aria-hidden="true"></i><strong>In Your Dinja Box</strong></h4>
            <% @recipe.doses.each do |dose| %>
            <p><%= dose.measure %> <%= dose.ingredient.name %></p>
            <% end %>
          </div>
          <div class = "recipe-show-tab-content hidden" id="prep" >
            <h4><strong>Let's get cooking</strong></h4>
            <p><%= @recipe.instructions %></p>
          </div>
        </div>
      </div>
      </div>
  </div>

</div>





