
<div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,10,58,0.6) 0%, rgba(0,10,10,0.2) 70%), url('<%= asset_path 'shutterstock.png' %>');">
  <div class="banner-content">
  <p>Sick of hearing "What's for dinner?" </p>
    <h1>Let us do the shopping, you do the cooking!</h1>
    <br> <br>
    <a href="#starters" class="btn btn-primary btn-lg">Discover this week's meals</a>
  </div>
</div>



<div class="weekly-section">
  <div id="how-it-works" class="container features-container">
    <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="features text-center" style = "padding-top: 15px">
          <img  src="<%= asset_path "numero1.png" %>"/>
          <h3>Complete your profile</h3>
          <p>Let us know if you have any food preferences, restrictions, or allergies, and we'll only suggest dishes that suit you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center" style = "padding-top: 15px">
          <img src="<%= asset_path "numero2.png" %>" />
          <h3>Order online</h3>
          <p> Choose between a selection of weekly starters, main courses, and desserts; as many or as few as you need! No commitment required.</p>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center" style = "padding-top: 15px">
          <img src="<%= asset_path "numero3.png" %>" />
          <h3>Delivery right to your door</h3>
          <p> Let us know when you'd like to get your groceries at your doorstep. Enjoy all the satisfaction of cooking a homemade dinner without the hassle!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div class="recipe-category-title-start"><h4 class="recipe-category-title">Starters</h4> </div>
        <% @starters.each do |starter| %>
          <div class="col-xs-12 col-sm-4">
            <div class="recipe-container">
            <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{starter.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path starter.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= starter.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= starter.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: starter.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

          <%= render 'recipes/show', recipe: starter %>
        <% end %>
    </div>
  </div>
</div>


<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div class="recipe-category-title-start"><h4 class="recipe-category-title">Main courses</h4> </div>
        <% @mains.each do |main| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(main) do  %>
            <div class="recipe-container">
            <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{main.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path main.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= main.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= main.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: main.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

         <%= render 'recipes/show', recipe: main %>
        <% end %>
    </div>
  </div>
</div>

<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div class="recipe-category-title-start"><h4 class="recipe-category-title">Desserts</h4> </div>
        <% @desserts.each do |dessert| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(dessert) do  %>
            <div class="recipe-container">
            <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{dessert.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path dessert.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= dessert.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= dessert.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: dessert.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <%= render 'recipes/show', recipe: dessert %>

          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="recipe-place-order-button-container">
  <% if current_user %>
    <%= link_to "Order", edit_order_path(current_order), class: "recipe-place-order-button text-center" %>
  <% end %>
</div>

<div class="text-center weekly-section" id="newsletter">
  <h2>Unleash your inner dinner ninja!</h2>
  <p>Sign up for our newsletter to find out in advance what's on the menu for the following week.<br>
  Waste no time wondering what to cook from now on!</p>
  <form class="form-inline contact-dinja-form">
    <input type="email" placeholder="contact@dinja.com" class="form-control">
    <input type="submit" value="Receive weekly recipes" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>

