<div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,10,58,0.6) 0%, rgba(0,10,10,0.2) 70%), url('<%= asset_path 'banner_background.png' %>');">
  <div class="banner-content">
  <p>Sick of making the same thing for dinner every night?</p>
    <h1>Let us do the shopping, you do the cooking!</h1>
    <br> <br> <br>
    <a id="link-to-starters" href="#starters" class="home-button btn btn-lg">Check out this week's meals</a>
  </div>
</div>

<div class="weekly-section">
  <div id="how-it-works" class="container features-container">
    <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="features text-center">
          <img  src="<%= asset_path "compose.png" %>"/>
          <h3>Tell us about your diet</h3>
          <p>Any food preferences, restrictions, or allergies? Only like to cook quick-and-easy meals? Complete your profile - you'll only see dishes that match.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center">
          <img src="<%= asset_path "computer.png" %>" />
          <h3>Fill up your cart</h3>
          <p> Choose between a weekly selection of starters, main courses, and desserts; as many or as few as you need! No commitment required.</p>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center">
          <img src="<%= asset_path "dolly.png" %>" />
          <h3>Delivery right to your door</h3>
          <p>In your Dinja box, you'll find all the ingredients you need. No more trips to the supermarket, no more wondering what to buy for dinner. Bon appétit!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div id="starters" class="recipe-category-title-start"><h4 class="recipe-category-title">Starters</h4></div>
        <% @starters.each do |starter| %>
          <div class="col-xs-12 col-sm-4">
            <div class="recipe-container">
              <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{starter.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path starter.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= starter.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= starter.price %>.00€</div>
                  <% if current_user %>
                    <%= simple_form_for OrderItem.new, remote: true do |f| %>
                      <%= f.association :recipe, as: :hidden, input_html: { value: starter.id } %>
                      <div class="buttons-inline weekly-buttons">
                        <span class="weekly-quantity-text-text" id='add-button-<%= starter.id %>'>
                          <%= order_item_quantity_label(@order, starter) %>
                        </span>
                        <%= f.submit " + ", class: "recipe-select" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <%= render 'recipes/show', recipe: starter %>
        <% end %>
    </div>
  </div>
</div>


<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div class="recipe-category-title-start"><h4 class="recipe-category-title">Main courses</h4> </div>
        <% @mains.each do |main| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(main) do  %>
            <div class="recipe-container">
            <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{main.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path main.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= main.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= main.price %>.00€</div>
                  <% if current_user %>
                    <%= simple_form_for OrderItem.new, remote: true do |f| %>
                      <%= f.association :recipe, as: :hidden, input_html: { value: main.id } %>
                      <div class="buttons-inline">
                        <span class="weekly-quantity-text-text" id='add-button-<%= main.id %>'>
                          <%= order_item_quantity_label(@order, main) %>
                        </span>
                        <%= f.submit " + ", class: "recipe-select" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

         <%= render 'recipes/show', recipe: main %>
        <% end %>
    </div>
  </div>
</div>

<div class="weekly-section">
  <div class="container weekly-container">
    <div class="row">
      <div class="recipe-category-title-start"><h4 class="recipe-category-title">Desserts</h4> </div>
        <% @desserts.each do |dessert| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(dessert) do  %>
            <div class="recipe-container">
            <%= link_to '#', "data-toggle" => "modal", "data-target" => "#recipe-#{dessert.id}" do %>
              <div class="recipe-picture" style="background: url('<%= image_path dessert.photo %>');">
              </div>
              <% end %>
              <div class="recipe-footer">
                <div class="recipe-title"><%= dessert.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= dessert.price %>.00€</div>
                  <% if current_user %>
                    <%= simple_form_for OrderItem.new, remote: true do |f| %>
                      <%= f.association :recipe, as: :hidden, input_html: { value: dessert.id } %>
                      <div class="buttons-inline">
                        <span class="weekly-quantity-text-text" id='add-button-<%= dessert.id %>'>
                          <%= order_item_quantity_label(@order, dessert) %>
                        </span>
                        <%= f.submit " + ", class: "recipe-select" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <%= render 'recipes/show', recipe: dessert %>

          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="recipe-place-order-button-container">
  <% if current_user %>
    <%= link_to "Go to cart", edit_order_path(current_order), class: "recipe-place-order-button text-center" %>
  <% end %>
</div>

<div class="text-center weekly-section" id="newsletter">
  <h2>Unleash your inner dinner ninja!</h2>
  <p>Sign up for our newsletter to receive next week's menu in advance.<br>
  Waste no time wondering what to cook from now on!</p>
  <form class="form-inline contact-dinja-form">
    <input type="email" placeholder="contact@dinja.com" class="form-control">
    <input type="submit" value="Receive weekly recipes" class="home-button btn btn-danger btn-bordered btn-bordered-danger">
  </form>
</div>

<%= content_for :after_js do %>
  <script>
    <% if @target %>
      $('html, body').animate({
          scrollTop: $("#" + "<%= @target %>").offset().top
      }, 1000);
    <% end %>

  </script>
<% end %>
