<!--  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/background.jpg');"> -->


    <h1><span>Starters</span></h1>

      <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center"></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url(<%= image_tag "italian_salad.png" %>); " >
              <div class="recipe-category"> Name of Recipe</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url(<%= image_tag "gazpacho.png" %>);" >
              <div class= "recipe-category"> Namet of Recipe 1</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="recipe" style="background: url(<%= image_tag "" %>)" >
              <div class="recipe-category">Name of Recipe 2</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <h1><span>Main courses</span></h1>

      <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center"></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url( <%= image_tag "logo.png" %>);" >
              <div class="recipe-category"> Name of Recipe - 1</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url( <%= image_tag "logo.png" %>);" >
              <div class= "recipe-category"> Name of Recipe - 2</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="recipe" style="background: <%= image_tag "logo.png" %>" >
              <div class="recipe-category">Name of Recipe - 3</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
            <div class="recipe" style="background: <%= image_tag "logo.png" %>" >
              <div class="recipe-category">Name of Recipe - 4</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
            <div class="recipe" style="background: <%= image_tag "logo.png" %>" >
              <div class="recipe-category">Name of Recipe - 5</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
            <div class="recipe" style="background: <%= image_tag "logo.png" %>" >
              <div class="recipe-category">Name of Recipe - 6</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <h1><span> Desserts </span></h1>


     <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center"></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url(<%= image_tag "logo.png" %>); " >
              <div class="recipe-category"> Name of Recipe 1</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
           <div class="recipe" style="background: url(<%= image_tag "logo.png" %>);" >
              <div class= "recipe-category"> Namet of Recipe 2</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="recipe" style="background: url(<%= image_tag "logo.png" %>)" >
              <div class="recipe-category">Name of Recipe 3</div>
              <div class="recipe-description">
                <h2>Cool subtitle for the recipe</h2>
                <p>description of the recipe</p>
              </div>
              <a class="recipe-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="contact@dinja.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>
