
<div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,10,58,0.6) 0%, rgba(0,10,10,0.2) 30%), url('<%= asset_path 'shutterstock.png' %>');">
  <div class="banner-content">
  <p>Sick of hearing 'What's for dinner' ? </p>
    <h1>Get diversified meals - Delivered !</h1>
    <br> <br>
    <a href="#starters" class="btn btn-primary btn-lg">Discover this week's meals</a>
  </div>
</div>



<div class="wrapper-grey padded">
  <div id="how-it-works" class="container features-container">
    <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="features text-center" style = "padding-top: 15px">
          <img  src="<%= asset_path "numero1.png" %>"/>
          <h3>Fill in your profile</h3>
          <p> Dinner should be delicious and as easy as possible. At Dinja, we’ve figured out how to make that dream a reality.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center" style = "padding-top: 15px">
          <img src="<%= asset_path "numero2.png" %>" />
          <h3>Order online</h3>
          <p> Choose between a selection of weekly starters, courses and desserts.</p>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="features text-center" style = "padding-top: 15px">
          <img src="<%= asset_path "numero3.png" %>" />
          <h3>Delivery straight at your door</h3>
          <p> Choose the best suited delivery. That is all you’re going to need to do. All the satisfaction of cooking a homemade dinner with none of the hassle.</p>
        </div>
      </div>
    </div>
  </div>
</div>












 <div class="big">

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center"></h2>
    <div class="row">
      <div class = "title-start" id="starters"><h4 class="recipe-category-title">Starters</h4> </div>
        <% @starters.each do |starter| %>
          <div class="col-xs-12 col-sm-4">
           <%= link_to recipe_path(starter) do  %>
            <div class="recipe-container">
              <div class="recipe-picture" style="background: url('<%= image_path starter.photo %>');">
              </div>
              <div class="recipe-footer">
                <div class="recipe-title"><%= starter.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= starter.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: starter.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center"></h2>
    <div class="row">
      <div class = "title-start"><h4 class="recipe-category-title">Main courses</h4> </div>
        <% @mains.each do |main| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(main) do  %>
            <div class="recipe-container">
              <div class="recipe-picture" style="background: url('<%= image_path main.photo %>');">
              </div>
              <div class="recipe-footer">
                <div class="recipe-title"><%= main.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= main.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: main.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center"></h2>
    <div class="row">
      <div class = "title-start"><h4 class="recipe-category-title">Desserts</h4> </div>
        <% @desserts.each do |dessert| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to recipe_path(dessert) do  %>
            <div class="recipe-container">
              <div class="recipe-picture" style="background: url('<%= image_path dessert.photo %>');">
              </div>
              <div class="recipe-footer">
                <div class="recipe-title"><%= dessert.name %></div>
                <div class="recipe-actions">
                  <div class="recipe-price"><%= dessert.price %>€</div>
                  <%= simple_form_for OrderItem.new, remote: true do |f| %>
                    <%= f.association :recipe, as: :hidden, input_html: { value: dessert.id } %>
                    <%= f.submit " + ", class: "recipe-select" %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="confirm">
<div>
  <%= link_to "Order", edit_order_path(current_order), class: "recipe-confirm text-center" %>
</div>

</div>

 </div>

    <div class="text-center padded" id="newsletter">
      <h2>Forget about grocery duty and repetitive meals !</h2>
      <p>Every week, Dinja offers you 3 starters / 6 mains / 3 desserts. <br>
      No more, you would no know what to choose;)</p>
      <form class="form-inline">
        <input type="email" placeholder="contact@dinja.com" class="form-control">
        <input type="submit" value="Receive weekly recipes" class="btn btn-primary btn-bordered btn-bordered-primary">
      </form>
    </div>

