<%= simple_form_for(user, remote: true) do |f| %>
  <h3>Edit your food preferences</h3>
<!--            <% unless current_user.has_user_completed_food_preferences? %>
    <p>Looks like you haven't listed any restrictions. Not a fussy eater!</p>
  <% end %> -->
  <div class="food-card">
    <label for="no_gluten">Dietary preferences</label>
    <div class="food-checks">
      <%= f.input :no_gluten, as: :boolean%>
      <%= f.input :no_eggs, as: :boolean %>
      <%= f.input :no_dairy, as: :boolean %>
      <%= f.input :vegetarian, as: :boolean %>
      <%= f.input :vegan, as: :boolean %>
    </div>
  </div>
  <div class="max-cals-prep-time">
    <div class="cals-limit food-card">
      <%= f.input :max_calories, label: "Max calories per dish", placeholder: 'E.g. 400' %>
    </div>
    <div class="prep-time-limit food-card">
      <%= f.input :max_prep_time, label: "Max prep time (in minutes) per dish", placeholder: 'E.g. 25' %>
    </div>
  </div>
  <div class="banished-ingredients-section food-card">
    <div class="banished-ingredients-input">
      <div>
        <label for="banished_ingredients_autocomplete">Ingredients to avoid in recipes</label>
      </div>
      <input type="text" id="banished_ingredients_autocomplete" class="form-control" value="" placeholder="E.g. onions" />
    </div>
    <div class="banished-ingredients-ul">
      <label for="banished_ingredients_list" class="indredient-list-heading">Ingredients you'll never see</label>
      <p class="no-excluded-ingredients <%= "hidden" if current_user.ingredients.exists? %>">You haven't excluded any ingredients yet</p>
      <ul id="banished_ingredients_list" class="list-inline">
          <!-- Empty list, will be filled by js -->
        <% current_user.ingredients.each do |banned_ingredient| %>
          <li class="ingredient-and-delete">
            <%= banned_ingredient.name %>
            <input type="hidden" name="banned_ingredients[]" value="<%= banned_ingredient.id %>"/>
            <i class="fa fa-close remove-ingredient"></i>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
 <div class="text-center">
  <%= f.button :submit, 'Save changes', class: 'user-profile-button btn btn-primary'  %>
  </div>
<% end %>
