<div class="navbar-container">
    <div class="navbar navbar-fixed">
        <% if controller_name == "recipes" && action_name == "weekly" %>
          <div class="navbar-side navbar-how-it-works">
            <%= link_to "#how-it-works", id: "link-how-it-works" do %>
              <p>How it works</p>
            <% end %>
          </div>
        <% end %>
        <%= link_to root_path do %>
          <%= image_tag "logo3.png", class: "navbar-logo" %>
        <% end %>
          <div class="navbar-side navbar-side-right text-right">
            <% if user_signed_in? %>
              <div class="navbar-item">
                <div class="dropdown">
                 <p class="dropdown-toggle text-right" id="navbar-wagon-menu" data-toggle="dropdown" > <%=current_user.first_name %> <i class="fa fa-caret-down" aria-hidden="true"></i></p>

                  <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu police">
                    <li>
                      <%= link_to edit_user_path(current_user) do %>
                        <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_orders_path(current_user) do %>
                        <i class="fa fa-check-square-o"></i>  <%= t(".profile", default: "My orders") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_recipes_path(current_user) do %>
                        <i class="fa fa-cutlery"></i>  <%= t(".profile", default: "My recipes") %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Cart -->
              <%= link_to edit_order_path(current_order), class: "text-right" do %>
                <i class="fa fa-shopping-cart navbar-cart"></i>  <%= t(".profile", default: "") %>
              <% end %>
            <% else %>
              <!-- Login text link -->
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link police" %>
              <%= link_to t(".sign_in", default: "Sign Up"), new_user_registration_path, class: "navbar-item navbar-link police" %>
            <% end %>


          </div>
      </div>
</div>
