<div class="container">
  <h1>Order complete!</h1>

  <h3>Keep an eye out for your Dinja box.</h3>
  <h4>Expected delivery: <%= @order.delivery_date.strftime("%b %d, %Y") %></h4>

  <h3>Order details</h3>
  <% @order.order_items.each_with_index do |order_item, index| %>
    <% order_item_id = index + 1 %>
    <div class="row order-item">

      <div class="col-xs-12 col-sm-3">
        <div class="order-picture">
          <%= image_tag order_item.recipe.photo, class: "test_picture" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 order-item-col-centered">
        <h3><%= order_item.recipe.name %></h3>
      </div>

      <div class="col-sm-6 orders-controls-container order-item-col-centered">
        <div>Price: €<%= order_item.recipe.price %>.00 </div>
        <div>Quantity: <%= order_item.quantity %></div>
        <div>Total: €<%= order_item.recipe.price * order_item.quantity %>.00</div>
      </div>
    </div>
  <% end %>
</div>
