<div class="order-process-container">
  <div class="order-confirmation-heading text-center">
    <h2>Order complete!</h2>
    <hr>
  </div>


  <h4 class="text-center">Keep an eye out for your Dinja box. <strong>Expected delivery: Aug 29, 2016</strong></h4>

  <br>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Order details</h3>
    </div>
    <div class="panel-body">
      <% @order.order_items.each do |order_item| %>
        <div class="row order-item-conf">
          <div class="col-xs-12 col-sm-3">
            <div class="order-picture">
              <%= image_tag order_item.recipe.photo, class: "test_picture" %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 order-item-col-centered">
            <h4><%= order_item.recipe.name %></h4>
          </div>

          <div class="col-sm-6 orders-controls-container order-item-col-centered">
            <div>€<%= order_item.recipe.price %>.00</div>
            <div><%= order_item.quantity %></div>
            <div>€<%= order_item.recipe.price * order_item.quantity %>.00</div>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-9">
          <h4>Grand total: €<%= @grand_total %>.00</h4>
        </div>
      </div>
    </div>
  </div>
</div>
