<div class="order-process-container">
  <div class="order-confirm-container">
  <div class="order-confirmation-heading text-center">
    <h2>ORDER COMPLETE!</h2>
    <hr>
  </div>


  <h4 class="text-center">Keep an eye out for your Dinja box. <strong>Delivery: Aug 29, 2016</strong></h4>

  <br>
  <div class="panel panel-default">

    <div class="panel-body">
      <% @order.order_items.each do |order_item| %>
        <div class="cart-order-items" id="order_item_row_<%= order_item.id %>">
          <div class="cart-order-picture">
            <%= image_tag order_item.recipe.photo %>
          </div>

          <div class="cart-order-item-text">
            <h4 id="recipe_name_<%= order_item.id %>"><%= order_item.recipe.name %></h4>
            <div><span id="price_<%= order_item.id %>"><%= order_item.recipe.price %></span>.00€</div>
            <div class="orders-controls-container">
              <div class="orders-controls-quantity">
                <div><span id="quantity_<%= order_item.id %>"><%= order_item.quantity %></span></div>
              </div>
            </div>
            <div><span id="total_price_<%= order_item.id %>"><%= order_item.recipe.price * order_item.quantity %></span>.00€</div>
          </div>

        </div>

      <% end %>
      <hr>
      <div class="link-price">
          <div class="link-home"> <%= link_to "Back to home!", "/" %></div>
          <div class="total-price"><h4>€<%= @grand_total %>.00</h4></div>
      </div>
    </div>
  </div>
  </div>
</div>
