<div class="inner-container">
  <div class="inner-container-heading order-confirm-heading text-center">
    <h2>ORDER DETAILS</h2>
    <hr>
  </div>

  <div class="confirm-all-info">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">1. Review your order - <%= @grand_total %>.00€
            <div id="edit-order-button">
              <%= link_to edit_order_path(@order) do %>
                <button class="btn btn-default confirm-order-button">Edit</button>
              <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body confirm-info-panel-body">
          <% @order.order_items.each do |item| %>
            <div class="order-item-confirm">
              <p class="order-item-confirm-name"><%= item.recipe.name %></p>
              <p><%= item.recipe.price %>.00€</p>
              <p><%= item.quantity %></p>
              <p><%= item.recipe.price*item.quantity %>.00€</p>
            </div>
          <% end %>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> 2. Confirm delivery address
            <div id="current-address">
              <%= render "orders/address", order: @order %>
            </div>
            <div id="edit-address-form" class="hidden">
              <%= simple_form_for @order, url: update_address_order_path(@order), method: :patch, remote: true, html: {class: "form-inline"} do |f| %>
              <%= f.input :address, placeholder: 'Address', label: false %>
              <%= f.button :submit, 'Save changes', id: 'save-delivery-address', class: 'btn btn-default pull-right'  %>
             <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body confirm-info-panel-body">
          <div id="address_map">
            <%= render "payments/address_map", order: @order %>
          </div>
        </div>
      </div>


          <div class="text-center">
            <span>Total due: <%= humanized_money_with_symbol(@order.price) %></span>
          </div>
          <div class="panel-body payment-body text-center">

          <%= form_tag order_payments_path(@order), id: "payment_form" do %>
            <article>

            </article>
            <button class="payment-button btn">Pay now</button>
          <% end %>
          </div>

    </div>
</div>

<% content_for :after_js do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    image: '<%= asset_path "cuttlery-icon2.png" %>',
                    locale: 'auto',
                    name: 'Dinja',
                    description: '<%= @order.order_items.size %> recipes',
                    amount: <%= @order.price_cents %>,
                    currency: 'EUR',
                    email: '<%= @user.email %>',
                    token: function(token) {
                      $('.loading').removeClass('hidden');
                      var $input = $('<input type=hidden name=stripeToken />').val(token.id);
                      $('#payment_form').append($input).submit();
                    }
                  });

                  $('.payment-button').on('click', function(e) {
                    e.preventDefault();
                    handler.open();
                    console.log("tata");
                    $('.iconTick').addClass('iconTick');
                  });
                </script>
              <% end %>
