<div class="order-process-container">
  <div class="cart-confirm-container">

    <div class="order-confirm-heading text-center">
      <h2>Please confirm your order details</h2>
      <hr>
    </div>

    <div class="confirm-all-info">

        <div class="panel panel-default">
          <div class="panel-heading" style = "text-align:right">
            <h3 class="panel-title" style = "float:left; display: inline-block; padding-top:8px; font-family:'source sans pro'">1. Check your order: <%= @grand_total %>.00€
            </h3>
              <div class="line-button" style = " display: inline-block; ">
                <%= link_to edit_order_path(@order) do %>
                  <button class="btn btn-default pull-right confirm-order-button">Edit</button>
                  <% end %>
              </div>
          </div>
          <div class="panel-body">
            <% @order.order_items.each do |item| %>
              <div class="order-item-checkout">
                <p class="order-item-checkout-name"><%= item.recipe.name %></p>
                <p class="order-item-checkout-price"><%= item.recipe.price %>.00€</p>
                <p class="order-item-checkout-quantity"><%= item.quantity %></p>
                <p class="order-item-checkout-price"><%= item.recipe.price*item.quantity %>.00€</p>
              </div>
            <% end %>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style ="font-family: 'source sans pro' "> 2. Check your delivery address:
              <span id="current-address" class="edit-address" >
                <%= render "orders/address", order: @order %>
              </span>
            </h3>
            <div id="edit-address-form" class="edit-address hidden">
              <%= simple_form_for @order, url: update_address_order_path(@order), method: :patch, remote: true do |f| %>
              <%= f.input :address, placeholder: 'Address' %>
              <%= f.button :submit, 'Save changes', id: 'save-delivery-address', class: 'button btn btn-primary pull-right'  %>
             <% end %>
            </div>
          </div>
          <div class="panel-body">
            <div id="address_map">
              <%= render "payments/address_map", order: @order %>
            </div>
          </div>
        </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style ="font-family: 'source sans pro' ">3. Make payment</h3>
            </div>
            <div class="panel-body payment-body">
              <%= form_tag order_payments_path(@order), id: "payment_form" do %>

                  <button class="payment-button btn btn-success" style = "text-align:center">Pay now</button>

              <% content_for :after_js do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    image: '<%= asset_path "cuttlery-icon2.png" %>',
                    locale: 'auto',
                    name: 'Dinja',
                    description: '<%= @order.order_items.size %> recipes',
                    amount: <%= @order.price_cents %>,
                    currency: 'EUR',
                    email: '<%= @user.email %>',
                    token: function(token) {
                      $('.loading').removeClass('hidden');
                      var $input = $('<input type=hidden name=stripeToken />').val(token.id);
                      $('#payment_form').append($input).submit();
                    }
                  });

                  $('.payment-button').on('click', function(e) {
                    e.preventDefault();
                    handler.open();
                    console.log("tata");
                    $('.iconTick').addClass('iconTick');
                  });
                </script>
              <% end %>
            <% end %>
            </div>
          </div>
      </div>
  </div>
</div>
