<!DOCTYPE html>
<html>
  <head>
    <title>Dinja</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <div class="loading hidden">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
